@import './variables';
//les fonts
@mixin title-font {
  font-family: 'Shrikhand', cursive;
}

@mixin text-font {
  font-family: 'Roboto', sans-serif;
}

//Les ombres
@mixin header-shadow {
  box-shadow: 0 0 5px 5px darken($light-grey, 8%);
}

@mixin shadow-button {
  box-shadow: 0 0 10px 0 darken($light-grey2, 26%);
}

@mixin menu-shadow {
  box-shadow: 0px 4px 15px 0 lighten($text-black, 90%);
}
  