//Les couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #89c8fa;
$dark-grey: #353535;
$light-grey: #eaeaea;
$light-grey2: #f6f6f6;
$text-black: #000000;
$text-white: #ffffff;