@import '../utils/mixins';
@import '../utils/variables';

/*Mise ne forme du badge "Nouveau"*/
.badge {
  width: 4.5rem;
  height: 28px;
  background-color: $tertiary-color;
  @include text-font;
  font-size: 0.875rem;
  color: darken($tertiary-color, 60%);
  display: grid;
  place-items: center;
  position: absolute;
  top: 18px;
  right: 20px;
}