@import '../utils/mixins';
@import '../utils/variables';

/*Mise en forme du bouton "btn-purple"*/
.btn-purple {
  display: block;
  margin: 30px auto 0;
  width: 216px;
  height: 50px;
  background: linear-gradient($secondary-color, $primary-color);
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  @include text-font;
  font-size: 1rem;
  font-weight: 500;
  color: $text-white;
  cursor: pointer;
  @include shadow-button;
}

.btn-purple:hover {
  opacity: 0.85;
}