@import '../utils/mixins';
@import '../utils/variables';

.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loader 3s ease-in-out;
  animation-fill-mode: both;

  & h1 {
    @include title-font;
    color: $text-white;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: center;
    margin-top: 50vh;
    padding-bottom: 20px;
  }
}
.loader span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  animation: 3s infinite linear;
}

.loader span:nth-child(2) {
  background: $primary-color;
  animation: child2 1.2s infinite linear;
}
.loader span:nth-child(3) {
  background: $tertiary-color;
  z-index: 100;
}
.loader span:nth-child(4) {
  background: $fourth-color;
  animation: child4 1.2s infinite linear;
}

@keyframes loader {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}

@keyframes child2 {
  0% {
    transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes child4 {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
    z-index: 200;
  }
}